.background {
  background-image: url("/background.jpg");
  background-size: cover;
}
.card {
  left: 50%;
  transform: translate(-50%, 150%);
}

.card-body {
  text-align: center;
}

.refresh {
  width: 20px;
}

.btn-refresh {
  border-radius: 100% !important;
  background-color: white;
}
